<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="Apoteka" connectionString="Server = DESKTOP-87M946F\SQLEXPRESS; Integrated Security = sspi; Initial Catalog = Apoteka;"/>
		<add name ="master" connectionString="Server = DESKTOP-87M946F\SQLEXPRESS; Integrated Security = sspi; Database = master;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>